html,
body {
  height: 100%;
}

body {
  display: flex;
  align-items: center;
  padding-top: 90px;
  padding-bottom: 40px;
  background-color: white;
}

.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
}

.form-signin .checkbox {
  font-weight: 400;
}

.form-signin .form-floating:focus-within {
  z-index: 2;
}

.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}


/* Add this to your styles.css or styles.scss file */
.custom-error-toast {
  background-color: rgb(251, 255, 0) !important;
  color: rgb(53, 75, 170) !important;
}

.toast-center {
  z-index: 9999; /* Adjust this value as needed */
}
